.best-course{
    padding: 100px 0;
    h1{
        font-size: 2.5rem;
        font-weight: 700;
    }
    .all-best-course{
        margin: auto;
        .left-text-best{
            p{
                margin-top: 15px;
                font-size: 1.15rem;
                color:#888;
            }
        }
        .right-btn-best{
            .btn-course{
                background-color: white;
                color: #333;
                border: 1px solid #e3e3e3;
                font-size: 16px;
                transition: .3s ease-in-out;
                &:hover{
                    border: 1px solid #ff1f59;
                    color: white;
                    background-color: #ff1f59;
                }
            }
           
        }
    }
}