.requirements {
    padding: 50px 0;
    h2 {
        font-size: 1.5rem;
        line-height: 1;
        margin-bottom: 20px;
        font-weight: 600;
    }

    p {
        margin-top: 0;
        margin-bottom: 1rem;
        font-size: 1.05rem;
    }

    ul {
        li {
            margin-bottom: 4px;
            font-size: 1.05rem;
        }
    }
}