.online-course{
    padding: 100px 0;
    background-color: #f8f9fb;
    h1{
        font-size: 2.5rem;
        font-weight: 700;
    }
    .all-online-course{
        margin: auto;
        .left-online-text-all{
            p{
                margin-top: 15px;
                font-size: 1.15rem;
                color:#888;
            }
        }
   
    }
}