.opportunity{
    padding: 100px 0;
    .top-opportunity{
        h1{
            font-size: 2.5rem;
            font-weight: 700;
        }
        p{
            margin-top: 15px;
            font-size: 1.15rem;
            color: #888;
        }
    }
}